---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p style="margin: 10px; padding: 0px 0px;">
    I am currently a Ph.D. candidate in <a href="https://www.ecse.rpi.edu" target="_blank"> Department of Electrical, Computer, and System Engineering </a> at <a href="http://https://www.rpi.edu" target="_blank"> Rensselaer Polytechnic Institute (RPI)</a>, working under the supervision of <a href="https://www.ecse.rpi.edu/~tajer" target="_blank"> Prof. Ali Tajer</a>. Before that, I obtained my B.S. in Statistics and dual degree in Computer Science from University of Science and Technology of China in 2020.
  </p> 
  <p>
  My current research topic is <strong>causal bandit</strong> (see <a href="https://github.com/ZiruiYan/awesome-causal-bandit" target="_blank"> this github repo</a> for brief summary) and the <strong>causality in Large Language models (LLM)</strong>. I also have broad interests in the application of bandit in <strong>federated learning</strong>.
  </p> 
</div>

<!-- ========== EXPERIENCE ========== -->  
<div class="docs-section" id="experience">
  <h4>Experience</h4>
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#internship">Internship</div></li>
    <li><div class="button" data-ref="#services">Services</div></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="internship">
      <ul>
          <li>
          <a href="https://www.duolingo.com">Duolingo</a>
          <ul>
            <li>
              AI Research Engineer Intern, Monetization Engine, May 2025 - Present
            </li>
          </ul>
        </li>
        <li>
          <a href="https://www.yahooinc.com/research">Yahoo! Rearch</a>
          <ul>
            <li>
             Research Intern, Search and recommendation science team, June 2024 - Aug 2024
            </li>
          </ul>
        </li>
        <li>
          <a href="https://www.ibm.com/watson">IBM Thomas J. Watson Research Center</a>
          <ul>
            <li>
              Research Intern, Trustworthy AI group, May 2023 - Aug 2023
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="tab-pane" id="services">
      <!-- Content for Services goes here -->
          <ul>
        <li>Reviewer of ICML 2025</li>
        <li>Reviewer of TMLR 2025</li>
        <li>Reviewer of ICLR 2025</li>
        <li>Reviewer of NuerIPS 2024</li>
        <li>Reviewer of IEEE Transactions on Signal Processing</li>
        <li>Reviewer of Conference on Neural Information Processing Systems (NeurIPS) 2024</li>
        <li>Reviewer of Artificial Intelligence and Statistics Conference (AISTATS) 2024</li>
        <li>Reviewer of ICML 2023 Workshop on Structured Probabilistic Inference & Generative Modeling (SPIGM)</li>
    </ul>
    </div> 
  </div> <!-- end of .tab-content -->
</div> <!-- end of .docs-section -->


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

<!--   
  <p>For a (likely) more up-to-date list of publications, see <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.
  </p> 
-->


  <div class="tab-content">
    <div class="tab-pane active">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper" style="
          display: table;
          width: 100%;
          margin-bottom: 1.5em;  /* spacing between papers */
          table-layout: fixed;   /* ensures columns don’t jump around */
        ">
        <!-- The row -->
      <div style="display: table-row;">
            <!-- Left cell: The badge -->
          <div class="paper-label" style="
            display: table-cell;
            vertical-align: top;
            width: 8em;           /* set a fixed/adequate width for the label column */
            white-space: nowrap;  /* keep label text on one line */
          ">
          {% if paper.label %}
            <span class="label-badge">{{paper.label}}</span>
          {% endif %}
          </div>
          <div class="paper-details" style="
              display: table-cell;
              vertical-align: top;
              padding-left: 1em; /* space between badge and text */
            ">
            <!-- Paper Title -->
            <p class="title"><b>{{ paper.title }}</b></p>
            <p>{{ paper.authors }}</p>
            <p><i>{{ paper.venue }}</i>{% if paper.year %}, {{ paper.year }}.{% endif %}
            {% if paper.award %}
            <i class="fa fa-trophy" style="color:#B509AC"></i> <b>{{ paper.award }}</b></p>
            {% endif %}
            <div class="paper-buttons">
              {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
              {% endif %}

              {% if paper.preprint %}
                <a class="button" href="{{ paper.preprint }}" target="_blank">Preprint</a>
              {% endif %}

              {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}

              {% if paper.data %}
                <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
              {% endif %}

              {% if paper.prereg %}
                <a class="button" href="{{ paper.prereg }}" target="_blank">Registration</a>
              {% endif %}
              
              {% if paper.slides %}
                <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
              {% endif %}

              {% if paper.poster %}
                <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
              {% endif %}

              {% if paper.video %}
                <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


